body{
    margin: 0;
}
header.main.header{
    background-color: aliceblue;
    padding: 0.5rem;
    margin-left: 0;
}

ul.breadcrumb{
    margin: 0;
    display: inline-block;
    padding: 10px;
}

ul.breadcrumb li{
    display: inline-block;
}

ul.breadcrumb li+li:before {
    padding: 1px;
    content: ">\00a0";
}

ul.breadcrumb li a{
    text-decoration: none;
}

ul.breadcrumb li a:hover{
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: black;
}

header.breadcrumb.header{
    background-color: rgb(250, 250, 255);
    padding: 0px;
    margin-top: 0;
}

#lower_title{
    color: blue;
    font-weight: bold;
}

#titulo{
    color: #00f;
    font-weight: bold;
    font-size: 200%;
    text-align: center;
}

article{
    padding:0 0.5rem;
    text-align: justify;
}

ul.segments{
    margin:1rem;
    display: inline-block;
}

ul.segments li{
    text-decoration: none;
}
ul.segments li:hover {
    text-decoration: underline;
    text-transform: uppercase;
    color: blue;
}

strong{
    font-style: italic;
    text-decoration: underline;
}

strong:hover{
    background-color: yellow;
    font-size:110%;
}

p.final.pagina#contato{
    text-align: start;
    border: 1px solid black;
    margin: auto;
    padding: 0.5rem;
}

p.final.pagina#rodape{
    color: blue;
    font-size: 200%;
    text-align: center;
    border: 1px solid black;
    padding: 0.5rem;
    font-weight:bold;
}

.foto_computacao{
    display: block;
    margin-left: 2em;
    /*margin-right: auto*/
    width: 50%;
    text-align: start;
}

p.titulo_coord{
    font-weight: bold;
    color: blue;
}

.coord{
    display: block;
    margin-left: 1.5em;
}

.informacao{
    border: 1px solid black;
    display: block;
    background-color: lightcyan;
    padding: 0.25rem;
    margin-bottom: 1rem;
    width: 300px;
}


@media (max-width: 700px){

    footer{
        margin-top:1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border: 1px solid black;
        background-color: aliceblue;
    }
    p.final.pagina#rodape, p.final.pagina#contato{
        display: block;
        width: auto;
        text-align: center;
        font-size: 120%;
        border: none;
    }
    .texto, .segments{
        border: 1px solid black;
        font-size: 120%;
        margin: 1rem;
    }

    ul.breadcrumb{
        margin: 0;
        display: block;
        padding: 10px;
        text-align: center;
        font-size:170%;
        color: blue;
        font-weight: bold;
    }

    ul.breadcrumb li{
        display:block;
        border: ;
    }
    ul.breadcrumb li+li:before {
        padding: 1px;
        content: none;
    }
    header.breadcrumb.header{
        background-color: lightsteelblue;
        padding: 0.5rem;
        margin-left: 0;
    }
    header.main.header{
        text-align: center;
        background-color: lightcyan;
    }

    .foto_computacao{
        width: 95%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .coord{
        text-align: center;
        display: block;
    }
    .informacao{
        text-align: center;
        display: block;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1000px){
    .foto_computacao{
        width: 75%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}