<div class="container">
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Nome do Professor</th>
                <th>Currículo</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>Ana Paula Gonçalves Serra</td>
                <td><a href="http://lattes.cnpq.br/9640606649282934">Currículo</a></td>
            </tr>
            <tr>
                <td>Angelo Sebastiao Zanini</td>
                <td><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4761729H6">Currículo</a></td>
            </tr>
            <tr>
                <td>Aparecido Valdemir de Freitas</td>
                <td><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4709911P1">Currículo</a></td>
            </tr>
            <tr>
                <td>Carlos Augusto Nakano</td>
                <td><a href="#">Currículo</a></td>
            </tr>
            <tr>
                <td>Everson Denis</td>
                <td><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4779726H1">Currículo</a></td>
            </tr>
            <tr>
                <td>Murilo Zanini de Carvalho</td>
                <td><a href="http://lattes.cnpq.br/2274636131728093">Currículo</a></td>
            </tr>
            <tr>
                <td>Rodrigo Bossini Tavares Moreira</td>
                <td><a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4414480T3">Currículo</a></td>
            </tr>
        </tbody>
    </table>
</div>